body {
  text-align: center;
  background: linear-gradient(135deg,#0033ff,#00aaff);
  font-family: Poppins, sans-serif;
  color:white;
}

video {
  width: 45%;
  height: 250px;
  border-radius: 15px;
  margin: 5px;
  background:black;
}

button {
  padding: 15px 30px;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 12px;
  border:none;
  background:white;
  color:#0033ff;
  font-weight:bold;
}
